option space pxelinux;
option pxelinux.magic code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;
option architecture-type code 93 = unsigned integer 16;

subnet {{ deploy_network | ipaddr('network/prefix') | ipaddr('network') }} netmask {{ deploy_network | ipaddr('network/prefix') | ipaddr('netmask') }} {
    option routers {{ deploy_network | ipaddr('network/prefix') | ipmath(1) }};
    range {{ deploy_network | ipaddr('network/prefix') | ipmath(128) }} {{ deploy_network | ipaddr('network/prefix') | ipaddr('broadcast') | ipmath(-1) }};

    class "pxeclients" {
        match if substring (option vendor-class-identifier, 0, 9) = "PXEClient";
        next-server 172.27.20.1;
        # next-server {{ ansible_default_ipv4.address }};

        if option architecture-type = 00:07 {
            filename "bootx64.efi";
        }
    }
}