default=autoinstall
timeout=5
timeout_style=menu

menuentry "Focal Live Installer - automated" --id=autoinstall {
    configfile /$net_default_mac.conf
}
menuentry "Focal Live Installer" --id=install {
    echo "Loading Kernel..."
    linux vmlinuz ip=dhcp url=http://${pxe_default_server}/iso/{{ iso.dest | basename }}
    echo "Loading Ram Disk..."
    initrd initrd
}